<html lang="en">

<head>
    <meta charset="utf-8">
    <meta film="viewport" content="width=device-width, initial-scale=1" />
    <title>ReelValues</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Mate&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <style>
        .calistoga-regular {
            font-family: "Calistoga", serif;
            font-weight: 400;
            font-style: normal;
        }

        .card {
            margin: 32px;
            padding: 32px;
        }

        body {
            font-family: "Mate", serif;
            font-weight: 400;
            font-style: normal;
        }
    </style>
</head>

<body>
    <script>
        let template = `
        <div class="card">
            <div style="display: flex;">
                <h2 style="font-weight: bold;" class="calistoga-regular">@title</h2>
                <div style="flex: 1;"></div>
                <div style="font-size: xx-large;">✅</div>
            </div>
            <div>
                @explanation
            </div>
            <center>
                <div style="font-weight: bold;" class="calistoga-regular" style="margin: 12px;">Examples</div>
            </center>
            <div>
                @examples
            </div>
        </div>`;

        let statusInterval;
        let id;
        let film;

        function displayStatus() {
            console.log("Searching for " + id.toString());
            $.post("/reelvalues", { "route": "status", "id": id, "film": film }, function (response) {
                console.log(response);

                if (response["success"] == 0) {
                    $("#loading").hide();
                    $("#film-search").show();

                    alert("Movie not found.");
                    clearInterval(statusInterval);

                } else if (response["success"] == 2) {
                    $("#loading").hide();
                    $("#film-search").show();

                    alert("Unknown backend error.");
                    clearInterval(statusInterval);

                } else if (response["success"] == 3) {
                    if (response["message"].includes("Error:")) {
                        alert(response["message"]);
                        clearInterval(statusInterval);
                        $("#loading").hide();
                        $("#film-search").show();
                    } else {
                        $("#status-message").text(response["message"]);
                    }
                } else {
                    clearInterval(statusInterval);

                    $("#loading").hide();
                    $("#film-search").show();

                    $("#film").text(response["film"]);
                    $("#poster").attr('src', response["poster"]);
                    $("#score").text(response["score"].toString() + "%");
                    $("#film-results").show();

                    for (const [key, value] of Object.entries(response["rating"])) {
                        if (value != null) {

                            let examples = value["examples"];
                            if (Array.isArray(examples)) {
                                let temp_examples = examples;
                                examples = `<ol>`;
                                temp_examples.forEach(function (item) {
                                    examples += `<li>` + item + `</li>`;
                                });
                                examples += `</ol>`;
                            }

                            let new_element = template.replace("@title", key).replace("@explanation", value["explanation"]).replace("@examples", examples);

                            if (value["answer"] == "NO") {
                                new_element = new_element.replace("✅", "❌");
                            } else if (value["answer"] == "MAYBE") {
                                new_element = new_element.replace("✅", "🤔");
                            }

                            $("#details").append(new_element);
                        }
                    }
                }
            });
        }

        function search() {
            $("#loading").show();
            $("#film-search").hide();
            $("#film-results").hide();
            $("#details").empty();

            film = $("#query").val();
            $.post("/reelvalues", { "route": "search", "film": film }, function (response) {
                id = response["id"];
                statusInterval = setInterval(function() { displayStatus(); }, 2000);
            });
        }

        $(document).ready(function () {
            $("#loading").hide();
            $("#film-results").hide();
        });

        $(document).keypress(function (e) {
            if (e.which === 13) {
                search();
            }
        });
    </script>

    <div style="margin: 32px; display: flex;">
        <div><img style="width: 32px;" src="{{url_for('static', filename='logo.png')}}"></img></div>
        <h3 class="calistoga-regular">ReelValues</h3>
        <div style="flex: 1;"></div>
        <div style="width: 96px;">
            <form action="https://www.paypal.com/donate" method="post" target="_top">
                <!-- Identify your business so that you can collect the payments. -->
                <input type="hidden" film="business" value="ethanlikestowritestuff@gmail.com">
                <!-- Specify details about the contribution -->
                <input type="hidden" film="no_recurring" value="0">
                <input type="hidden" film="item_name" value="ReelValues">
                <input type="hidden" film="item_number" value="Donation to keep the lights on ✌️">
                <input type="hidden" film="amount" value="5.00">
                <input type="hidden" film="currency_code" value="USD">
                <!-- Display the payment button. -->
                <input type="image" film="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
                    alt="Donate">
                <img alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
            </form>
        </div>
    </div>

    <div id="loading" class="card">
        <center>
            <img src="{{url_for('static', filename='loading.gif')}}">
            <div>
                <p>
                    <strong>
                        <div id="status-message" class="calistoga-regular"></div>
                    </strong>
                </p>
                <p>
                    <strong>Note:</strong> Reviews are based on scripts sourced from IMSDb.<br>
                    This source often includes early drafts, so the reference may not be identical to the final
                    production.
                </p>
            </div>
        </center>
    </div>
    <div id="film-search" class="card">
        <center>
            <h1 class="calistoga-regular">Search for a film...</h1>

            <div class="input-group mb-3">
                <input id="query" type="text" class="form-control" placeholder="Film / TV Show Episode film"
                    aria-label="Film / TV Show Episode film" aria-describedby="button-addon2">
                <button onclick="search()" class="btn btn-outline-secondary" type="button"
                    id="button-addon2">🔎</button>
            </div>

            <div>
                {% for film in sample %}
                <span style="padding: 12px;">
                    <a style="color: blue;" onclick="$('#query').val('{{film}}')">{{ film }}</a>
                </span>
                {% endfor %}
            </div>
        </center>
    </div>

    <div id="film-results">
        <center>
            <div class="card">
                <div style="display: flex;">
                    <img id="poster" src="">
                    <div style="display: flex; flex-direction: column; flex: 1;">
                        <div style="flex: 1;"></div>
                        <div>
                            <h1 id="film" style="text-align: right; margin: 12px;"></h1>
                            <h1 id="score" class="calistoga-regular" style="text-align: right; font-weight: bolder;">64%
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </center>
        <div id="details">

        </div>
    </div>

    <!--
    
    <div id="film-recommends" class="card">
        <center>
            <h2 class="calistoga-regular">Random Films</h2>
        </center>
    </div>

    -->

    <center>
        <div>©2024 Cinemint</div>
    </center>
</body>

</html>